// set custom hex colors 
$siteBgColorCustom: #1D3557;
$sidebarBgColorCustom: #334C6E;
$textColorCustom: #EDF6f9;
$sidebarTextColorCustom: #EDF6f9;
$headlineColorCustom: #CAF0F8;
$headingColorCustom: #CAF0F8;
$bodyLinkColorCustom: #90E9EF;
$navLinkColorCustom: #90E9EF;
$sidebarLinkColorCustom: #90E9EF;
$footerTextColorCustom: #F7F7F4;
$buttonTextColorCustom: #F72585;
$buttonHoverTextColorCustom: #90E9EF;
$buttonBgColorCustom: #90E9Ef;
$buttonHoverBgColorCustom: #F72585;
$borderColorCustom: #F72585;
